<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ metaDescription }}" />
    <meta name="keywords" content="" />
    <link rel="canonical" href="https://{{ client.domain }}{{ page.url }}" />

    <!--Social Media Display-->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ metaDescription }}" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://{{ client.domain }}{{ page.url }}"
    />

    {# Hard-coded #}
    <meta property="og:image" content="/assets/images/logo-short.png" />
    <meta
      property="og:image:secure_url"
      content="/assets/images/logo-short.png"
    />
    {# Hard-coded #}

    <!--Favicons-->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/favicons/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/assets/favicons/safari-pinned-tab.svg"
      color="#218ecb"
    />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="theme-color" content="#ffffff" />
    <!--Fonts-->

    <!-- Preloads -->
    <link rel="preload" as="image" href="/assets/svgs/logo.svg" />
    {% if preloadImg and preloadImg.length > 0 %}
    <link rel="preload" as="image" href="{{ preloadImg }}" />
    {% endif %}

    <!-- Sitewide Stylesheets and Scripts -->
    <link rel="stylesheet" href="/styles/_root.css" />
    <link rel="stylesheet" href="/styles/_critical.css" />

    {% if css %}
    <link
      rel="preload"
      href="{{ css }}"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript><link rel="stylesheet" href="{{ css }}" /></noscript>
    {% endif %}

    <!-- Analytics -->

    <!-- Title -->
    <title>{{ title }} | {{ client.name }}</title>
  </head>

  <body>
    {{ content | safe }}
  </body>

  <!-- JavaScript -->
  <script defer src="/assets/js/nav.js"></script>
  <script defer src="/assets/js/dark.js"></script>
</html>
