/*-- -------------------------- -->
<---             CTA            -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #cta {
    padding: 0;
  }
  #cta .container {
    position: relative;
    width: 100%;
    max-width: none;
    height: 25rem;
  }
  #cta .cs-picture {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25rem;
    -webkit-clip-path: inset(0);
            clip-path: inset(0);
    background-color: #000;
    z-index: -1;
  }
  #cta .cs-picture img {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #cta .cs-picture:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #cta .cs-container {
    width: 100%;
    height: 25rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    row-gap: 2rem;
  }
  #cta .cs-h2 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: var(--textH1);
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 8px #000;
  }
  #cta .cs-button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    font-size: var(--textH3);
    text-shadow: 2px 2px 8px #000;
    box-shadow: 2px 2px 8px #000;
  }
  #cta .cs-button:hover {
    -webkit-animation: pulsate 3s ease-out infinite;
            animation: pulsate 3s ease-out infinite;
  }
  @-webkit-keyframes pulsate {
    0% {
      box-shadow: 0 0 0 #fff;
    }
    50% {
      box-shadow: 0 0 24px #fff;
    }
    100% {
      box-shadow: 0 0 0 #fff;
    }
  }
}
/* Desktop */
@media only screen and (min-width: 64em) {
  #cta .container,
  #cta .cs-picture,
  #cta .cs-container {
    height: 31.25rem;
  }
}
/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #footer {
    padding: 3.75rem 1rem 2rem 1rem;
    background-color: #111;
  }
  #footer .container {
    max-width: 100rem;
  }
  #footer .cs-top {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    row-gap: 2rem;
    -webkit-column-gap: 8rem;
       -moz-column-gap: 8rem;
            column-gap: 8rem;
    color: #fff;
  }
  #footer .cs-top:after {
    content: "";
    display: block;
    position: relative;
    top: -1rem;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 1rem 0;
  }
  #footer .cs-container {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    -webkit-column-gap: 8rem;
       -moz-column-gap: 8rem;
            column-gap: 8rem;
  }
  #footer .cs-logo {
    width: 15.625rem;
    height: auto;
    -webkit-filter: invert(50%) brightness(1000%);
            filter: invert(50%) brightness(1000%);
  }
  #footer p {
    width: 100%;
    max-width: 12.5rem;
    color: #ccc;
  }
  #footer .cs-link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 0.875rem;
    color: #ccc;
  }
  #footer .cs-link .cs-li {
    margin: 0;
  }
  #footer .cs-link:hover {
    color: #fff;
  }
  #footer .cs-line {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-column-gap: 0.5rem;
       -moz-column-gap: 0.5rem;
            column-gap: 0.5rem;
  }
  #footer .cs-contact,
  #footer .cs-sitemap,
  #footer .cs-email-list-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    row-gap: 1rem;
  }
  #footer .cs-ul-container {
    width: 100%;
    min-width: 0;
  }
  #footer .cs-ul {
    display: -webkit-box;
    display: flex;
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
    list-style: none;
  }
  #footer .cs-ul .cs-ul-item {
    display: block;
    background-color: red;
  }
  #footer .cs-left,
  #footer .cs-right {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    row-gap: 1rem;
  }
  #footer .cs-li {
    list-style: none;
    font-size: 0.875rem;
  }
  #footer .cs-email-list {
    width: 12.5rem;
  }
  #footer .cs-subscribe-text {
    margin: 0;
  }
  #footer .cs-bottom {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    row-gap: 1rem;
    -webkit-column-gap: 8rem;
       -moz-column-gap: 8rem;
            column-gap: 8rem;
    color: #ccc;
  }
  #footer .cs-credit {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: none;
    font-size: 0.875rem;
  }
  #footer .cs-social-container {
    display: -webkit-box;
    display: flex;
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
  }
  #footer .cs-icon {
    -webkit-filter: brightness(80%);
            filter: brightness(80%);
  }
  #footer .cs-icon:hover {
    -webkit-filter: none;
            filter: none;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
/* Desktop */
@media only screen and (min-width: 64em) {
  #footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #hero {
    padding-top: 8.25rem;
    padding-bottom: 5rem;
  }
  #hero .container {
    height: 100%;
  }
  #hero .cs-left {
    width: 100%;
    max-width: 25rem;
    margin: auto;
    margin-bottom: 2rem;
  }
  #hero .cs-picture {
    width: 100%;
    height: 100%;
  }
  #hero .cs-picture img {
    width: 100%;
    height: 100%;
  }
  #hero .cs-right {
    width: 100%;
    text-align: center;
    margin: auto;
  }
  #hero .cs-h1 {
    line-height: 1em;
  }
  #hero .cs-p {
    max-width: 25rem;
    margin: auto;
    margin-bottom: 2rem;
  }
  #hero .cs-button-container {
    display: -webkit-box;
    display: flex;
    gap: 2rem;
    -webkit-box-pack: center;
            justify-content: center;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #hero {
    padding-top: 11.25rem;
  }
  #hero .container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    gap: 0;
  }
  #hero .cs-left {
    max-width: 31.25rem;
    margin-bottom: 0;
  }
}
/* Desktop */
@media only screen and (min-width: 64em) {
  #hero {
    padding-top: 10rem;
  }
  #hero .cs-left {
    max-width: 43.75rem;
  }
}
/*-- -------------------------- -->
<---        Internal Hero       -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #int-hero {
    padding: 4.5rem 0 0 0;
  }
  #int-hero .container {
    position: relative;
    width: 100%;
    max-width: none;
    height: 12.5rem;
  }
  #int-hero .cs-picture {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12.5rem;
    -webkit-clip-path: inset(0);
            clip-path: inset(0);
    background-color: #000;
    z-index: -1;
  }
  #int-hero .cs-picture img {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #int-hero .cs-picture:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #int-hero .cs-container {
    width: 100%;
    height: 12.5rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    row-gap: 2rem;
  }
  #int-hero .cs-h2 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: var(--textH1);
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 8px #000;
  }
}
/* Desktop */
@media only screen and (min-width: 64em) {
  #int-hero {
    padding-top: 6.25rem;
  }
  #int-hero .container,
  #int-hero .cs-picture,
  #int-hero .cs-container {
    height: 15.625rem;
  }
}
/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/
/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  body.cs-open {
    overflow: hidden;
  }
  #navigation {
    width: 100%;
    padding: 0.75rem 1rem;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 10000;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  #navigation:before {
    content: "";
    width: 100%;
    height: 0vh;
    background: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    position: absolute;
    display: block;
    top: 100%;
    right: 0;
    z-index: -1100;
    opacity: 0;
    -webkit-transition: height 0.5s, opacity 0.5s;
    transition: height 0.5s, opacity 0.5s;
  }
  #navigation.cs-active:before {
    height: 150vh;
    opacity: 1;
  }
  #navigation.cs-active .cs-ul-wrapper {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  #navigation.cs-active .cs-li {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  #navigation .cs-container {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
            align-items: center;
  }
  #navigation .cs-logo-link {
    width: 40%;
    max-width: 9.125rem;
    height: 100%;
    margin: 0 auto 0 0;
    padding: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    z-index: 10;
  }
  #navigation .cs-switches {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    gap: clamp(0.5rem, 3.125vw, 2rem);
  }
  #navigation .cs-toggle {
    width: 3rem;
    height: 3rem;
    margin: 0 0 0 auto;
    border-radius: 0.25rem;
    background-color: transparent;
    border: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }
  #navigation .cs-active .cs-line1 {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
            transform: translate(-50%, -50%) rotate(225deg);
  }
  #navigation .cs-active .cs-line2 {
    top: 50%;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
            transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
  }
  #navigation .cs-active .cs-line3 {
    bottom: 100%;
    opacity: 0;
  }
  #navigation .cs-box {
    width: 1.5rem;
    height: 1rem;
    position: relative;
  }
  #navigation .cs-line {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #1a1a1a;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #navigation .cs-line1 {
    top: 0;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transition: top 0.3s, left 0.3s, -webkit-transform 0.5s;
    transition: top 0.3s, left 0.3s, -webkit-transform 0.5s;
    transition: transform 0.5s, top 0.3s, left 0.3s;
    transition: transform 0.5s, top 0.3s, left 0.3s, -webkit-transform 0.5s;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-direction: normal;
            animation-direction: normal;
  }
  #navigation .cs-line2 {
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    -webkit-transition: top 0.3s, left 0.3s, -webkit-transform 0.5s;
    transition: top 0.3s, left 0.3s, -webkit-transform 0.5s;
    transition: top 0.3s, left 0.3s, transform 0.5s;
    transition: top 0.3s, left 0.3s, transform 0.5s, -webkit-transform 0.5s;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-direction: normal;
            animation-direction: normal;
  }
  #navigation .cs-line3 {
    bottom: 0;
    -webkit-transition: bottom 0.3s, opacity 0.3s;
    transition: bottom 0.3s, opacity 0.3s;
  }
  #navigation .cs-ul-wrapper {
    width: 100%;
    height: auto;
    padding-bottom: 2.4em;
    opacity: 0;
    background-color: #fff;
    box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.4s;
    transition: opacity 0.3s, -webkit-transform 0.4s;
    transition: transform 0.4s, opacity 0.3s;
    transition: transform 0.4s, opacity 0.3s, -webkit-transform 0.4s;
  }
  #navigation .cs-ul {
    margin: 0;
    padding: 3rem 0 0 0;
    width: 100%;
    height: auto;
    max-height: 65vh;
    overflow-x: hidden;
    overflow-y: overlay;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    gap: 1.25rem;
  }
  #navigation .cs-li {
    width: 100%;
    text-align: center;
    list-style: none;
    margin-right: 0;
    -webkit-transform: translateY(-4.375rem);
            transform: translateY(-4.375rem);
    opacity: 0;
    -webkit-transition: opacity 0.9s, -webkit-transform 0.6s;
    transition: opacity 0.9s, -webkit-transform 0.6s;
    transition: transform 0.6s, opacity 0.9s;
    transition: transform 0.6s, opacity 0.9s, -webkit-transform 0.6s;
  }
  #navigation .cs-li:nth-of-type(1) {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }
  #navigation .cs-li:nth-of-type(2) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  #navigation .cs-li:nth-of-type(3) {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  #navigation .cs-li:nth-of-type(4) {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  #navigation .cs-li:nth-of-type(5) {
    -webkit-transition-delay: 0.25s;
            transition-delay: 0.25s;
  }
  #navigation .cs-li:nth-of-type(6) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  #navigation .cs-li:nth-of-type(7) {
    -webkit-transition-delay: 0.35s;
            transition-delay: 0.35s;
  }
  #navigation .cs-li:nth-of-type(8) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  #navigation .cs-li:nth-of-type(9) {
    -webkit-transition-delay: 0.45s;
            transition-delay: 0.45s;
  }
  #navigation .cs-li:nth-of-type(10) {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  #navigation .cs-li:nth-of-type(11) {
    -webkit-transition-delay: 0.55s;
            transition-delay: 0.55s;
  }
  #navigation .cs-li:nth-of-type(12) {
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  #navigation .cs-li:nth-of-type(13) {
    -webkit-transition-delay: 0.65s;
            transition-delay: 0.65s;
  }
  #navigation .cs-li-link {
    font-size: 0.875rem;
    line-height: 1.2em;
    text-decoration: none;
    margin: 0;
    color: var(--text);
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  #navigation .cs-li-link:before {
    /* active state underline */
    content: "";
    width: 100%;
    height: 1px;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: none;
    bottom: -0.125rem;
    left: 0;
  }
  #navigation .cs-li-link.cs-active:before {
    display: block;
  }
  #navigation .cs-drop-icon {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
}
/* Dark Mode */
@media only screen and (max-width: 63.9375rem) {
  body.dark #navigation {
    background-color: var(--darkLight);
  }
  body.dark #navigation .cs-line {
    background-color: #fff;
  }
  body.dark #navigation .cs-ul-wrapper {
    background-color: var(--darkDark);
  }
  body.dark #navigation .cs-li-link {
    color: #fff;
  }
}
/*-- -------------------------- -->
<---     Navigation Dropdown    -->
<--- -------------------------- -*/
/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  #navigation .cs-li {
    text-align: center;
    width: 100%;
    display: block;
  }
  #navigation .cs-dropdown {
    position: relative;
    color: var(--textWhite);
  }
  #navigation .cs-dropdown.cs-active .cs-drop-ul {
    height: auto;
    opacity: 1;
    visibility: visible;
    margin: 0.75rem 0 0 0;
    padding: 0.75rem 0;
  }
  #navigation .cs-dropdown.cs-active .cs-drop-link {
    opacity: 1;
  }
  #navigation .cs-dropdown .cs-li-link {
    position: relative;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  #navigation .cs-drop-icon {
    width: 0.9375rem;
    height: auto;
    position: absolute;
    top: 50%;
    right: -1.25rem;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #navigation .cs-drop-ul {
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    gap: 0.75rem;
    -webkit-transition: padding 0.3s, margin 0.3s, height 0.3s, opacity 0.3s, visibility 0.3s;
    transition: padding 0.3s, margin 0.3s, height 0.3s, opacity 0.3s, visibility 0.3s;
  }
  #navigation .cs-drop-li {
    list-style: none;
  }
  #navigation .cs-li-link.cs-drop-link {
    font-size: 0.875rem;
    color: #fff;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #navigation .cs-dropdown {
    position: relative;
  }
  #navigation .cs-dropdown:hover {
    cursor: pointer;
  }
  #navigation .cs-dropdown:hover .cs-drop-ul {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
    visibility: visible;
  }
  #navigation .cs-dropdown:hover .cs-drop-li {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  #navigation .cs-drop-icon {
    width: 0.9375rem;
    height: auto;
    display: inline-block;
  }
  #navigation .cs-drop-ul {
    min-width: 12.5rem;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 16px;
    border-bottom: 5px solid var(--primary);
    position: absolute;
    top: 90%;
    z-index: 100;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: visibility 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    transition: visibility 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, visibility 0.3s, opacity 0.3s;
    transition: transform 0.3s, visibility 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  }
  #navigation .cs-drop-ul:hover {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
    visibility: visible;
  }
  #navigation .cs-drop-li {
    list-style: none;
    font-size: 1rem;
    text-decoration: none;
    opacity: 0;
    width: 100%;
    height: auto;
    color: var(--text);
    display: block;
    -webkit-transform: translateY(-0.625rem);
            transform: translateY(-0.625rem);
    -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
    transition: opacity 0.6s, -webkit-transform 0.6s;
    transition: opacity 0.6s, transform 0.6s;
    transition: opacity 0.6s, transform 0.6s, -webkit-transform 0.6s;
  }
  #navigation .cs-drop-li:nth-of-type(1) {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }
  #navigation .cs-drop-li:nth-of-type(2) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  #navigation .cs-drop-li:nth-of-type(3) {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  #navigation .cs-drop-li:nth-of-type(4) {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  #navigation .cs-drop-li:nth-of-type(5) {
    -webkit-transition-delay: 0.25s;
            transition-delay: 0.25s;
  }
  #navigation .cs-drop-li:nth-of-type(6) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  #navigation .cs-drop-li:nth-of-type(7) {
    -webkit-transition-delay: 0.35s;
            transition-delay: 0.35s;
  }
  #navigation .cs-drop-li:nth-of-type(8) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  #navigation .cs-drop-li:nth-of-type(9) {
    -webkit-transition-delay: 0.45s;
            transition-delay: 0.45s;
  }
  #navigation .cs-li-link.cs-drop-link {
    white-space: nowrap;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5em;
    text-decoration: none;
    padding: 0.75rem;
    color: var(--text);
    display: block;
    -webkit-transition: color 0.3s, background-color 0.3s;
    transition: color 0.3s, background-color 0.3s;
  }
  #navigation .cs-li-link.cs-drop-link:hover {
    background-color: #f7f7f7;
  }
  #navigation .cs-li-link.cs-drop-link:before {
    display: none;
  }
  #navigation .cs-li-link.cs-drop-link:after {
    content: "•";
    display: none;
    position: relative;
    padding-left: 0.25rem;
    font-size: 1.125rem;
    color: var(--primary);
  }
  #navigation .cs-li-link.cs-drop-link.cs-active:after {
    display: inline;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark #navigation .cs-drop-ul {
    background-color: var(--darkLight);
  }
  body.dark #navigation .cs-li-link.cs-drop-link:hover {
    background-color: var(--dark);
  }
  body.dark #navigation .cs-drop-icon {
    /* turns it white */
    -webkit-filter: grayscale(1) brightness(1000%);
            filter: grayscale(1) brightness(1000%);
  }
}
/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #navigation {
    width: 100%;
    padding: 0 2rem;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 10000;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  #navigation .cs-container {
    width: 100%;
    max-width: 100rem;
    margin: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    gap: 1.5rem;
  }
  #navigation .cs-toggle {
    display: none;
  }
  #navigation .cs-logo-link {
    width: 18.4%;
    max-width: 21.875rem;
    height: 4.0625rem;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    z-index: 100;
  }
  #navigation .cs-ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
            align-items: center;
    gap: clamp(1.5rem, 1.875vw, 2.25rem);
  }
  #navigation .cs-li {
    list-style: none;
    padding: 1.5rem 0;
    -webkit-box-flex: 0;
            flex: none;
    height: 100%;
    margin: 0;
  }
  #navigation .cs-dropdown span {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    gap: 2px;
  }
  #navigation .cs-li-link {
    font-size: 0.875rem;
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--text);
    display: block;
    position: relative;
  }
  #navigation .cs-li-link:hover:before {
    width: 100%;
  }
  #navigation .cs-li-link.cs-active:before {
    width: 100%;
  }
  #navigation .cs-li-link:before {
    /* active state underline */
    content: "";
    width: 0%;
    height: 2px;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0rem;
    left: 0;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
  }
  #navigation .cs-dropdown .cs-li-link.cs-active::before,
  #navigation .cs-dropdown .cs-li-link:hover::before {
    width: calc(100% - 15px);
  }
  #navigation .cs-contact {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.75rem 1rem;
    text-decoration: none;
    text-align: center;
    margin: 0;
    color: #fff;
    background-color: var(--primary);
    border: 1px solid transparent;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    -webkit-transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
    transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
  }
  #navigation .cs-contact:hover {
    background-color: var(--primaryDark);
    border-color: var(--primaryDark);
    color: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  #navigation .cs-contact:before {
    display: none;
  }
  #navigation .cs-contact.cs-active {
    background-color: transparent;
    color: var(--primaryDark);
    border-color: var(--primaryDark);
  }
  #navigation .cs-contact.cs-active:hover {
    box-shadow: none;
  }
}
/* Dark Mode */
@media only screen and (min-width: 64rem) {
  body.dark #navigation {
    background-color: var(--darkLight);
  }
  body.dark #navigation .cs-li-link {
    color: #fff;
  }
  body.dark #navigation .cs-li-link:before {
    background-color: #fff;
  }
  body.dark #navigation .cs-drop-link:after {
    color: #fff;
  }
  body.dark #navigation .cs-drop-ul {
    border-bottom: 5px solid var(--primary);
  }
  body.dark #navigation .cs-contact {
    color: #fff;
    border: 1px solid var(--primary);
    -webkit-transition: border 1s ease-in-out;
    transition: border 1s ease-in-out;
  }
  body.dark #navigation .cs-contact:before {
    background-color: var(--primaryDark);
  }
  body.dark #navigation .cs-contact:hover {
    border: 1px solid var(--primaryDark);
    -webkit-transition: border 0s ease-in-out;
    transition: border 0s ease-in-out;
  }
  body.dark #navigation .cs-contact.cs-active {
    background-color: transparent;
    border-color: var(--primaryLight);
    color: var(--primaryLight);
    -webkit-transition: color 0.3s ease, border-color 0.3s ease;
    transition: color 0.3s ease, border-color 0.3s ease;
  }
}
/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #navigation {
    /* Dark Mode Switch */
  }
  #navigation #dark-switch {
    display: block;
    position: relative;
  }
  #navigation #dark-checkbox {
    display: none;
  }
  #navigation .cs-slider {
    display: block;
    position: relative;
    width: 3.75rem;
    height: 2.125rem;
    background-color: #333;
    border-radius: 2.125rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
  }
  #navigation .cs-slider:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0.3125rem;
    left: 0.375rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 50%;
    -webkit-transform: translate(0%);
            transform: translate(0%);
    -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
    transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
    transition: background-color 0.3s ease, transform 0.3s ease;
    transition: background-color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  #navigation .moon {
    display: block;
    position: absolute;
    top: 0.5625rem;
    right: 0.5625rem;
    width: 0.9375rem;
    height: 0.9375rem;
  }
  #navigation .sun {
    display: none;
    position: absolute;
    top: 0.5625rem;
    left: 0.5625rem;
    width: 0.9375rem;
    height: 0.9375rem;
  }
}
/* Dark mode */
@media only screen and (min-width: 0em) {
  body.dark #navigation .cs-slider {
    background-color: #fff;
  }
  body.dark #navigation .cs-slider:before {
    background-color: var(--primary);
    -webkit-transform: translate(100%);
            transform: translate(100%);
    -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
    transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
    transition: background-color 0.3s ease, transform 0.3s ease;
    transition: background-color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  body.dark #navigation .moon {
    display: none;
  }
  body.dark #navigation .sun {
    display: block;
  }
}
/*-- -------------------------- -->
<---         Blog Sidebar       -->
<--- -------------------------- -*/
/* Mobile  */
@media only screen and (min-width: 0rem) {
  #sidebar {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center;
    row-gap: 2rem;
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
    margin: auto;
  }
  #sidebar .cs-featured,
  #sidebar .cs-subscribe {
    max-width: 18.75rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    row-gap: 1rem;
    padding: 2rem;
    border-radius: 0.625rem;
    box-shadow: var(--bs);
  }
  #sidebar .cs-featured:hover,
  #sidebar .cs-subscribe:hover {
    box-shadow: var(--bsPrimary);
  }
  #sidebar .cs-h2 {
    font-size: clamp(1.5rem, 3.125vw, 2rem);
  }
  #sidebar .cs-subscribe .cs-h2 {
    margin-bottom: 0;
    line-height: 1em;
  }
  #sidebar .cs-post {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
    color: #000;
  }
  #sidebar .cs-post:hover {
    color: var(--primary);
  }
  #sidebar .cs-p {
    max-width: 8.75rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: pre-wrap;
  }
  #sidebar .cs-subscribe-text {
    max-width: none;
  }
  #sidebar .cs-email {
    width: 100%;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
/* Desktop  */
@media only screen and (min-width: 64rem) {
  #sidebar {
    max-width: 18.75rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    row-gap: 4rem;
  }
}
/* Dark mode  */
@media only screen and (min-width: 0rem) {
  body.dark #sidebar .cs-featured,
  body.dark #sidebar .cs-subscribe {
    box-shadow: var(--bsDark);
  }
  body.dark #sidebar .cs-featured:hover,
  body.dark #sidebar .cs-subscribe:hover {
    box-shadow: var(--bsPrimary);
  }
  body.dark #sidebar .cs-post:hover .cs-p {
    color: var(--primary);
  }
}
