/* Mobile */
@media only screen and (min-width: 0em) {
  .cs-button {
    margin: 0;
    padding: 0.75rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background-color: var(--primary);
    border: 1px solid transparent;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    -webkit-transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
    transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
  }
  .cs-button:hover {
    cursor: pointer;
    background-color: var(--primaryDark);
    border-color: var(--primaryDark);
    color: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  .cs-button.secondary {
    background-color: #fff;
    color: var(--primary);
    border: 1px solid var(--primary);
    -webkit-transition: border-color 0.2s ease, box-shadow 0.2s ease;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
  }
  .cs-button.secondary:hover {
    cursor: pointer;
    color: var(--primaryDark);
    border-color: var(--primaryDark);
  }
}
/* Dark mode */
@media only screen and (min-width: 0em) {
  body.dark .cs-button.secondary {
    background-color: var(--darkDark);
    color: #fff;
    border: 1px solid var(--textWhite);
  }
  body.dark .cs-button:hover {
    box-shadow: 2px 2px 16px rgba(255, 255, 255, 0.3);
  }
}
/* Mobile */
@media only screen and (min-width: 0rem) {
  .cs-email-list #cs-email-list-form {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
  }
  .cs-email-list .cs-email {
    width: 18.75rem;
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-right: none;
  }
  .cs-email-list .cs-email:focus,
  .cs-email-list .cs-email:hover {
    outline: none;
    border: 1px solid var(--primary);
  }
  .cs-email-list .cs-submit {
    width: 2.25rem;
    height: 2.25rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    border-radius: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  .cs-email-list .cs-icon {
    -webkit-filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(21deg) brightness(106%) contrast(101%);
            filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(21deg) brightness(106%) contrast(101%);
  }
}
/* Dark mode */
@media only screen and (min-width: 0rem) {
  body.dark .cs-email-list .cs-email {
    background-color: var(--darkLight);
    color: #fff;
    border: 1px solid transparent;
    border-right: none;
  }
  body.dark .cs-email-list .cs-email:focus,
  body.dark .cs-email-list .cs-email:hover {
    border: 1px solid var(--primaryLight);
  }
}
/* Mobile */
@media only screen and (min-width: 0rem) {
  .cs-logo {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    width: 9.375rem;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
/* Desktop */
@media only screen and (min-width: 64rem) {
  .cs-logo {
    width: 12.5rem;
  }
}
/* Dark mode */
@media only screen and (min-width: 0rem) {
  body.dark .cs-logo {
    -webkit-filter: invert(50%) brightness(1000%);
            filter: invert(50%) brightness(1000%);
  }
}
/*-- -------------------------- -->
<---         Typography         -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  .cs-h1,
  .cs-h2,
  .cs-h3,
  .cs-p,
  .cs-article h1,
  .cs-article h2,
  .cs-article h3,
  .cs-article p {
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    color: currentColor;
    line-height: 1.5em;
  }
  .cs-h1,
  .cs-h2,
  .cs-h3,
  .cs-article h1,
  .cs-article h2,
  .cs-article h3 {
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .cs-h1,
  .cs-article h1 {
    font-size: var(--textH1);
  }
  .cs-h2,
  .cs-article h2 {
    font-size: var(--textH2);
  }
  .cs-h3,
  .cs-article h3 {
    font-size: var(--textH3);
  }
  .cs-p,
  .cs-li,
  .cs-article p,
  .cs-article li {
    font-size: var(--textMedium);
  }
  .cs-p + .cs-p,
  .cs-li + .cs-p,
  .cs-article p + .cs-p,
  .cs-article li + .cs-p {
    margin-top: var(--textMedium);
  }
  .cs-p.small,
  .cs-li.small,
  .cs-article p.small,
  .cs-article li.small {
    font-size: var(--textSmall);
  }
  .cs-p.small + .small,
  .cs-li.small + .small,
  .cs-article p.small + .small,
  .cs-article li.small + .small {
    margin-top: var(--textSmall);
  }
  .cs-p.large,
  .cs-li.large,
  .cs-article p.large,
  .cs-article li.large {
    font-size: var(--textLarge);
  }
  .cs-p.large + .large,
  .cs-li.large + .large,
  .cs-article p.large + .large,
  .cs-article li.large + .large {
    margin-top: var(--textLarge);
  }
  .cs-p.bold,
  .cs-li.bold,
  .cs-article p.bold,
  .cs-article li.bold {
    font-weight: 600;
  }
  .cs-li:last-of-type,
  .cs-article li:last-of-type {
    margin-bottom: var(--textMedium);
  }
  .cs-a,
  .cs-article a {
    color: var(--textLink);
    text-decoration: none;
  }
  .cs-a:hover,
  .cs-article a:hover {
    color: var(--textLinkHover);
  }
  .cs-topper {
    text-transform: uppercase;
    font-size: clamp(0.75rem, 1.3671875vw, 0.875rem);
    font-weight: 600;
    color: var(--primary);
    margin: 0;
  }
}
/* Dark mode */
@media only screen and (min-width: 0em) {
  body.dark .cs-h1,
  body.dark .cs-h2,
  body.dark .cs-h3,
  body.dark .cs-p,
  body.dark .cs-li,
  body.dark .cs-article h1,
  body.dark .cs-article h2,
  body.dark .cs-article h3,
  body.dark .cs-article p,
  body.dark .cs-article li {
    color: var(--textWhite);
  }
}
/*-- -------------------------- -->
<---            Blog            -->
<--- -------------------------- -*/
/* Blog styles */
@media only screen and (min-width: 0em) {
  @font-face {
    font-display: swap;
    font-family: "Lora";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/lora-v32-latin-regular.woff2") format("woff2");
  }
  .cs-article h1,
  .cs-article h2,
  .cs-article h3,
  .cs-article p,
  .cs-article li {
    font-family: "Lora", Palatino, serif;
    color: currentColor;
    line-height: 1.5em;
  }
  .cs-article p {
    margin-top: 0;
    margin-bottom: var(--textMedium);
  }
  .cs-article p + h2 {
    margin-top: 2rem;
  }
  .cs-article ol,
  .cs-article ul {
    padding-left: 2rem;
  }
}
/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  :root {
    --primaryLight: #83bac1;
    --primary: #2f666d;
    --primaryDark: #004046;
    --darkLight: #222c34;
    --dark: #1a212b;
    --darkDark: #040c13;
    --text: #000;
    --textWhite: #ddd;
    --textLink: #0d8291;
    --textLinkHover: #598f96;
    --textSmall: clamp(0.75rem, 1.3671875vw, 0.875rem);
    --textMedium: clamp(1rem, 1.7578125vw, 1.125rem);
    --textLarge: clamp(1.125rem, 1.953125vw, 1.25rem);
    --textH1: clamp(2.25rem, 4.6875vw, 3rem);
    --textH2: clamp(1.5rem, 3.515625vw, 2.25rem);
    --textH3: clamp(1.25rem, 2.34375vw, 1.5rem);
    --bs: 4px 4px 24px rgba(0, 0, 0, 0.2);
    --bsDark: 4px 4px 24px rgba(255, 255, 255, 0.3);
    --bsPrimary: 4px 4px 24px var(--primary);
  }
  body,
  html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    color: var(--text);
    line-height: 1.5em;
  }
  body {
    min-width: 20rem;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    color: var(--text);
    /* To check dark mode before rendering */
  }
  body .light {
    display: block;
  }
  body .dark {
    display: none;
  }
  body.hidden {
    display: none;
  }
  html {
    overflow-y: scroll;
  }
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  section {
    padding: 3.75rem 1rem;
    margin: auto;
  }
  .container {
    width: 100%;
    max-width: 90rem;
    height: 100%;
    margin: auto;
    position: relative;
  }
  h1,
  h2,
  h3 {
    margin: 0;
    font-weight: 600;
  }
  p,
  li,
  a {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
  }
  a {
    color: var(--textLink);
    text-decoration: none;
  }
  a:hover {
    color: var(--textLinkHover);
  }
  svg,
  img,
  picture {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .skip {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1000;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  section {
    padding: 3.75rem 2rem;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  body,
  html {
    padding: 0;
    margin: 0;
  }
  section {
    padding: 6.25rem 3rem;
  }
}
/* Scale full website with the viewport width */
@media only screen and (min-width: 2500px) {
  body,
  html {
    font-size: 0.65vw;
  }
}
/* Dark mode */
@media only screen and (min-width: 0em) {
  body.dark {
    background-color: var(--darkDark);
  }
  body.dark .light {
    display: none;
  }
  body.dark .dark {
    display: block;
  }
}
