/*-- -------------------------- -->
<---           About            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #about .container {
    text-align: center;
    max-width: 37.5rem;
  }
  #about .cs-left {
    width: 100%;
    max-width: 37.5rem;
    margin-bottom: 2rem;
  }
  #about .cs-picture {
    display: block;
    width: 100%;
    height: 100%;
  }
  #about .cs-picture img {
    display: block;
    width: 100%;
    max-width: 37.5rem;
    height: 100%;
    margin: auto;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 1.25rem;
    margin-bottom: 2rem;
  }
  #about .cs-right {
    width: 100%;
    max-width: 37.5rem;
    text-align: left;
  }
  #about .cs-h1 {
    line-height: 1em;
    margin-bottom: 1.5rem;
  }
  #about .cs-p {
    width: 100%;
    text-align: left;
  }
  #about .cs-p:last-of-type {
    margin-bottom: 2rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
  #about {
    max-width: 90rem;
  }
  #about .container {
    display: table;
    table-layout: fixed;
    max-width: 62.5rem;
  }
  #about .cs-left,
  #about .cs-right {
    display: table-cell;
    max-width: none;
  }
  #about .cs-left {
    padding-right: 2rem;
    vertical-align: top;
  }
  #about .cs-right {
    vertical-align: middle;
  }
  #about .cs-picture img {
    max-width: none;
    margin: 0;
    border-radius: 1.25rem 0 0 1.25rem;
  }
}
/*-- -------------------------- -->
<---          Content           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #content {
    padding-top: 0;
  }
  #content .container {
    max-width: 62.5rem;
  }
  #content ol {
    padding-left: 1.5rem;
  }
  #content .cs-container {
    max-width: 50rem;
    margin-bottom: 2rem;
  }
}
