/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #contact .container {
    max-width: 40.625rem;
    margin: auto;
  }
  #contact .cs-top {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 2rem;
  }
  #contact .cs-h2 {
    margin-bottom: 0.5rem;
  }
  #contact .cs-text {
    margin-bottom: 32/16em;
    font-size: clamp(20/16rem, 2400/1024vw, 24/16rem);
  }
  #contact .cs-form-fields {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
    margin-bottom: 2rem;
  }
  #contact .cs-container {
    width: 100%;
    min-width: 13.75rem;
    max-width: 18.75rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    flex-basis: 50%;
    row-gap: 0.5rem;
  }
  #contact .cs-container.message {
    max-width: 39.5rem;
    flex-basis: 100%;
  }
  #contact .cs-label {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-column-gap: 0.25rem;
       -moz-column-gap: 0.25rem;
            column-gap: 0.25rem;
    font-weight: 600;
  }
  #contact .cs-p {
    display: inline;
    margin-bottom: 0;
  }
  #contact .cs-input {
    font-size: 1rem;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid #aaa;
  }
  #contact .cs-input:active,
  #contact .cs-input:focus {
    outline: none;
    border-bottom-color: #000;
  }
  #contact .cs-input.message {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #contact .cs-icon {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    margin: auto;
    -webkit-filter: contrast(80%);
            filter: contrast(80%);
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
  #contact .container {
    max-width: 75rem;
  }
  #contact .cs-container {
    max-width: 25rem;
  }
  #contact .cs-container.message {
    max-width: 52rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark #contact .cs-label {
    color: var(--textWhite);
  }
  body.dark #contact .cs-input {
    background-color: transparent;
    color: var(--textWhite);
  }
  body.dark #contact .cs-input:active,
  body.dark #contact .cs-input:focus {
    border-bottom-color: #fff;
  }
}
