/*-- -------------------------- -->
<---         Portfolio          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #portfolio .cs-card {
    margin-bottom: 4rem;
  }
  #portfolio .cs-left {
    display: block;
    position: relative;
    max-width: 25rem;
    margin: auto;
    margin-bottom: 2rem;
    border-radius: 1.25rem;
    box-shadow: var(--bs);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }
  #portfolio .cs-picture {
    display: block;
    width: 100%;
    height: 100%;
  }
  #portfolio .cs-picture img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1.25rem;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }
  #portfolio .cs-right {
    text-align: center;
  }
  #portfolio .cs-p {
    max-width: 25rem;
    margin: auto;
    margin-bottom: 2rem;
  }
  #portfolio .cs-button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #portfolio .cs-button > span {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
  }
  #portfolio .cs-button .cs-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
/* Desktop */
@media only screen and (min-width: 64em) {
  #portfolio .container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
  #portfolio .cs-card {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: flex;
    -webkit-column-gap: clamp(4rem, 6.66666667vw, 8rem);
       -moz-column-gap: clamp(4rem, 6.66666667vw, 8rem);
            column-gap: clamp(4rem, 6.66666667vw, 8rem);
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    margin-bottom: 5rem;
  }
  #portfolio .cs-left {
    overflow: hidden;
  }
  #portfolio .cs-left:hover {
    box-shadow: var(--bsPrimary);
  }
  #portfolio .cs-left:hover .cs-picture img {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }
}
